.header {
    height: 100px;
    /* background-color: #333; */
    color: rgba(223, 75, 30, 0.637);
    font-size: clamp(4vh, 7vw, 7vh);
    font-weight: 600;
    transition: color 0.3s ease-out; /* Transition only the color property */
  }
  
  .header.active {
    color: rgba(223, 75, 30, 1);
    transition: 0.1s ease-in; /* Disable transition for instant change */
  }  