body {
  background-color: #414040;
}

input {
  width: 60%;
  border-radius: 25px;
  padding: 10px;
  border: none;
}

input::placeholder {
  text-align: center;
  font-weight: 500;
  color: #41404067;
}

button {
  border: none;
  border-radius: 25px;
  width: 100px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(185, 185, 185);
  color: aliceblue;
  text-align: center;
  font-weight: 500;
}
